body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: aquamarine;
}

.row{
    display: flex;
    flex-direction: row;
    /*border: 1px black solid; this is for debugging to make sure the rows are generated correctly.*/
    
    
    margin: 0px;
    padding: 0px;


}
.numSquaresButton{
    display: flex;
    height: 30px;

}
.etchWords{
    display: flex;
    color: gold;
    font-size: 38px;
    font-weight: 800;
    text-shadow: 1 1 3 gray;
    justify-content: center;
    z-index: 3;
}
.main{
    transform: translatey(-40px);
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: fit-content;
    border: 40px solid red;
    border-radius: 8px;
    background-color: lightgrey;
   
}
.etchASketch{
    display: flex;
    flex-direction: column;
}
.square{
    display: flex;
    /*border: 1px solid black;  this is for debugging makeing sure the squares are the right size*/
    transition: all .01s ease;
}

.deleteing{
    transform: translateY(50px);
    transition-duration: 0.5s;
}

.colored{
    background-color: blue;
}

.knobs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.knob{
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    background-color: beige;
    
    width: 35px;
    height: 35px;
    border: 5px dotted gainsboro;
    transform: translateY(-75px);
}

.controlBoard{
    display: flex;
    margin-left: 50px;

}
.colorboard{
    display: flex;
    height: fit-content;
}
.swatch{
    display: flex;
    height: 30px;
    width: 30px;
}
