.row{
    display: flex;
    flex-direction: row;
    border: 1px black solid;
    width: 800px;
    
    margin: 0px;
    padding: 0px;


}

.main{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0px;
    padding: 0px;
}


.square{
    display: flex;
    border: 1px solid black;
   

}

.colored{
    background-color: blue;
}